@import "../../scss/global.scss";

.btn {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 4rem 1.5rem 4rem;
  border-radius: 50px;
  max-width: fit-content;
  align-items: center;
  font-size: var(--font-xs);

  @include bp($bp-mobile) {
    padding: 0.5rem 1.5rem;
    font-size: 16px;
  }

  &__primary {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    border: none;

    &:hover {
      background-color: var(--pink);
      border: none;
      color: var(--main-dark-color);
    }
  }

  &__secondary {
    border: solid 1px var(--main-light-color);
    color: var(--main-light-color);

    &:hover {
      border: solid 1px var(--pink);
      color: var(--pink);
    }
  }

  &__tertiary {
    background-color: var(--green);
    color: var(--main-dark-color);
    font-size: var(--font-xxs);
    padding: 1rem 2rem 1rem 2rem;

    &:hover {
      background-color: hsl(149, 37%, 43%);
      color: var(--main-dark-color);
    }
  }
}
