@import "../../scss/custom-property";

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.project {
  display: flex;
  width: 100%;
  height: 732px;

  &__image {
    width: 50%;
    height: 100%;
    background-color: var(--main-light-color);
  }

  &__content {
    width: 50%;
    border: solid 1px var(--main-light-color);
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__title {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__language {
    font-size: var(--font-xxs);
    color: var(--main-light-color);
    font-weight: var(--regular-font-weight);
    margin: 0;
  }

  &__exercise {
    font-size: var(--font-s);
    color: var(--main-light-color);
    font-weight: var(--regular-font-weight);
    margin: 0;
    padding-bottom: 40px;
  }
}

.about__content {
  width: 50%;
  height: 100%;

  &__text {
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.text {
  font-size: var(--font-xs);
  color: var(--main-light-color);
  margin: 0;
}
