@import "../../scss/custom-property";
@import "../../scss/global.scss";

.topbar {
  padding: 8rem;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include bp($bp-tablet) {
    padding: 4rem;
  }

  @include bp($bp-mobile) {
    padding: 2rem;
    padding-bottom: 3rem;
  }

  &__nav {
    display: flex;
    gap: 48px;

    @include bp($bp-mobile) {
      gap: 20px;
      z-index: 9;
    }

    &__close {
      display: none;
      color: var(--main-light-color);
      font-size: var(--font-xxs);
      background: none;
      padding: 2rem;
      border: none;
      cursor: pointer;

      @include bp($bp-mobile) {
        margin-bottom: 100%;
      }
    }

    @include bp($bp-mobile) {
      position: fixed;
      flex-direction: column;
      background: var(--main-dark-color);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateX(100%);

      &__show {
        transform: translateX(0);
      }

      &__close {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__link {
    color: var(--main-light-color);
    font-size: var(--font-xxs);

    @include bp($bp-mobile) {
      font-size: var(--font-s);
      text-transform: uppercase;
      padding-left: 2rem;
    }
  }

  &__link:hover {
    color: var(--pink);
    text-decoration: underline;
  }
}

.show__menu {
  display: none;
  color: var(--main-light-color);
  font-size: var(--font-xxs);
  background: none;
  border: none;
  cursor: pointer;

  @include bp($bp-mobile) {
    display: inline-block;
  }

  @include bp($bp-mobile) {
    padding: 0;
  }
}
