@import "../../scss/global.scss";

.contact__content {
  display: flex;
  justify-content: space-between;
}

.contact__buttons {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.circles {
  position: absolute;
  left: 0;
  top: 52%;
}
