@import "../../scss/global.scss";

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 260px;
}

.email {
  font-size: 48px;
  color: white;
  text-decoration: underline;
  font-weight: 400;
}

.email:hover {
  color: var(--pink);
}
