@import "../../scss/global.scss";

.contact__content {
  display: flex;
  justify-content: space-between;

  @include bp($bp-mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.contact__buttons {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  @include bp($bp-mobile) {
    gap: 42px;
    margin-bottom: 180px;
  }
}

.circles {
  position: absolute;
  left: 0;
  top: 52%;

  @include bp($bp-mobile) {
    width: 100%;
    height: 40%;
    top: 80%;
  }
}
