@import "../../scss/global.scss";
@import "../../scss/custom-property";

/* intro */
.intro__about {
  display: flex;
  padding-bottom: 200px;
  gap: 160px;

  @include bp($bp-tablet) {
    flex-direction: column;
    padding: 0 4rem;
  }

  @include bp($bp-mobile) {
    padding: 0 2rem;
  }
}

.intro__about__left {
  width: 50%;

  @include bp($bp-tablet) {
    position: absolute;
    width: 70%;
    top: 600px;
    left: 100px;
  }

  @include bp($bp-mobile) {
    position: absolute;
    width: 70%;
    top: 700px;
    left: 70px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;

    @include bp($bp-tablet) {
      gap: 30px;
    }

    @include bp($bp-mobile) {
      gap: 15px;
    }
  }
}

.intro__about__right {
  display: flex;
  gap: 50px;
  width: 50%;
  flex-direction: column;
}

.intro__about__right__text {
  font-size: 36px;
  color: white;
}

.description__text {
  font-size: var(--font-xs);
  color: white;
  text-align: center;
  margin: auto;
  text-align: center;
  max-width: 70%;

  @include bp($bp-tablet) {
    font-size: var(--font-xxs);
  }

  @include bp($bp-mobile) {
    font-size: 16px;
  }
}

.first__word {
  font-style: italic;
  color: var(--red);
  font-size: var(--font-m);
  font-family: var(--main-font);
  font-weight: var(--regular-font-weight);
  margin: 0;

  @include bp($bp-tablet) {
    font-size: var(--font-s);
  }

  @include bp($bp-mobile) {
    font-size: var(--font-xs);
  }
}

.second__word {
  display: flex;
  font-style: italic;
  color: var(--pink);
  font-size: var(--font-m);
  font-family: var(--main-font);
  font-weight: var(--regular-font-weight);
  justify-content: flex-end;
  margin: 0;

  @include bp($bp-tablet) {
    font-size: var(--font-s);
  }

  @include bp($bp-mobile) {
    font-size: var(--font-xs);
  }
}

.third__word {
  display: flex;
  font-style: italic;
  color: var(--main-light-color);
  font-size: var(--font-l);
  font-family: var(--main-font);
  font-weight: var(--regular-font-weight);
  justify-content: center;
  margin: 0;

  @include bp($bp-tablet) {
    font-size: var(--font-m);
  }

  @include bp($bp-mobile) {
    font-size: var(--font-s);
  }
}

.fourth__word {
  font-style: italic;
  color: var(--green);
  font-size: var(--font-m);
  font-family: var(--main-font);
  font-weight: var(--regular-font-weight);
  margin: 0;

  @include bp($bp-tablet) {
    font-size: var(--font-s);
  }

  @include bp($bp-mobile) {
    font-size: var(--font-xs);
  }
}
