@import "../../scss/global.scss";
@import "../../scss/custom-property";

/* intro */
.intro__about {
  display: flex;
  padding-bottom: 200px;
}

.intro__about__left {
  width: 50%;
}

.intro__about__right {
  display: flex;
  gap: 50px;
  width: 50%;
  flex-direction: column;
}

.intro__about__right__text {
  font-size: 36px;
  color: white;
}

.description__text {
  font-size: var(--font-xs);
  color: white;
  text-align: center;
  margin: auto;
  text-align: center;
  max-width: 50%;
}
