@import "../../scss/global.scss";

.home__container {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include bp($bp-tablet) {
    padding: 0 4rem;
  }

  @include bp($bp-mobile) {
    padding: 0 2rem;
  }
}

.about__container {
  display: flex;

  &__img {
    width: 50%;
  }

  &__content {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;

    &__text {
      color: var(--main-light-color);
      font-size: var(--font-xs);
    }
  }
}

.centered__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18rem 0 24rem 0;

  @include bp($bp-mobile) {
    padding: 0 0 12rem 0;
  }
}

.contact__text {
  font-size: var(--font-xs);
  color: var(--main-light-color);

  @include bp($bp-mobile) {
    font-size: var(--font-xxs);
  }
}

.inner__headings {
  border: 0px solid #ddd;
  height: 2.2em;
  line-height: 1.2em;
  overflow: hidden;
}

.inner__headings span {
  position: relative;
  animation: animation 8s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: 0;
  }
  45% {
    top: 0;
  }
  50% {
    top: -2.6em;
  }

  70% {
    top: -2.6em;
  }

  75% {
    top: -2.6em;
  }

  95% {
    top: -2.6em;
  }
}
