@import "./custom-property";
@import "./utilities";
@import "./variables";

body {
  background-color: var(--main-dark-color);
  font-family: Helvetica;
}

.header {
  padding: 8rem;
  padding-top: 4rem;

  &__nav {
    display: flex;
    gap: 48px;
    float: right;
  }

  &__link {
    color: var(--main-light-color);
    font-size: var(--font-xxs);
  }

  &__link:hover {
    color: var(--pink);
    text-decoration: underline;
  }
}

.footer {
  display: flex;
  gap: 380px;
  background-color: var(--main-medium-color);
  padding: 2rem;
  justify-content: center;

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: var(--main-dark-color);
    font-size: var(--font-xxs);
  }

  &__link:hover {
    color: var(--pink);
  }
}

.logo {
  color: var(--main-dark-color);
  font-size: var(--font-s);
}

.landing {
  padding: 2rem 8rem 12rem 8rem;
}

.h1 {
  font-size: var(--font-xl);
  font-weight: var(--regular-font-weight);
  margin-top: 0;
  margin-bottom: 4rem;
  color: var(--main-medium-color);
}

.info {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px var(--main-medium-color);
}

.buttons {
  display: flex;
  gap: 33px;
}

.primary-button {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  border-radius: 50px;
  font-size: var(--font-xs);
  padding-left: 6rem;
  padding-right: 6rem;
  border: none;

  &:hover {
    background-color: var(--pink);
    border: none;
  }
}

.secondary-button {
  border: solid 1px var(--main-light-color);
  color: var(--main-light-color);
  border-radius: 50px;
  font-size: var(--font-xs);
  padding-left: 6rem;
  padding-right: 6rem;

  &:hover {
    border: solid 1px var(--pink);
    color: var(--pink);
  }
}

.info-text {
  font-size: var(--font-xxs);
  color: var(--main-medium-color);
}

.h2 {
  font-size: var(--font-l);
  font-weight: var(--regular-font-weight);
  color: var(--main-medium-color);
  margin-bottom: 8rem;
  margin-top: 0;
}

.intro__container {
  display: flex;

  &__left {
    display: flex;
    width: 50%;
  }

  &__right {
    display: flex;
    width: 50%;

    &__paragraph {
      font-size: var(--font-xs);
      line-height: 41px;
      color: var(--main-medium-color);
      font-weight: var(--regular-font-weight);
      margin: 0;
    }
  }
}

.h4 {
  font-size: var(--font-xs);
  font-weight: var(--regular-font-weight);
  font-family: Helvetica;
  margin: 0;
}

.paragraph {
  font-size: var(--font-xxs);
  font-weight: var(--regular-font-weight);
  font-family: Helvetica;
}

//declaracion de variables, unidades de padding y tamaños de fuentes

//si algo de css tiene algo que ver con un componente no tiene que ir en la carpeta de global sino donde el componente

//la carpeta scss solo cosas genericas

//menu es un componente menu que tendrá unos estilos que estarán en menu.scss

//cosas globales como body, h1, h3 eso si va en global
