@import "./custom-property";
@import "./utilities";
@import "./variables";
@import "./mixins";

body {
  background-color: var(--main-dark-color);
  font-family: Helvetica;
}

.footer {
  display: flex;
  gap: 380px;
  background-color: var(--main-medium-color);
  padding: 2rem 8rem;
  justify-content: space-between;

  @include bp($bp-tablet) {
    font-size: var(--font-xxs);
    gap: 120px;
    padding: 2rem 4rem;
  }

  @include bp($bp-mobile) {
    gap: 50px;
    justify-content: space-between;
    padding: 2rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: var(--main-dark-color);
    font-size: var(--font-xxs);

    @include bp($bp-mobile) {
      font-size: 16px;
    }
  }

  &__link:hover {
    color: var(--pink);
  }
}

.logo {
  color: var(--main-dark-color);
  font-size: var(--font-s);

  @include bp($bp-mobile) {
    font-size: var(--font-xs);
  }
}

.landing {
  padding: 2rem 8rem 12rem 8rem;

  @include bp($bp-tablet) {
    width: 100%;
    padding: 2rem 0 12rem 0;
  }

  @include bp($bp-mobile) {
    width: 100%;
    padding: 2rem 0 12rem 0;
  }
}

.h1 {
  font-size: var(--font-xl);
  font-weight: var(--regular-font-weight);
  margin-top: 0;
  margin-bottom: 4rem;
  color: var(--main-medium-color);

  @include bp($bp-tablet) {
    font-size: var(--font-l);
    padding: 0 4rem;
    margin-bottom: 2rem;
    padding-top: 6rem;
  }

  @include bp($bp-mobile) {
    font-size: var(--font-s);
    padding: 0 2rem;
    margin-bottom: 1rem;
    padding-top: 10rem;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px var(--main-medium-color);
}

.buttons {
  display: flex;
  gap: 33px;

  @include bp($bp-tablet) {
    justify-content: space-between;
  }

  @include bp($bp-mobile) {
    align-items: center;
    gap: 0;
    justify-content: space-between;
  }
}

.info-text {
  font-size: var(--font-xxs);
  color: var(--main-medium-color);

  @include bp($bp-mobile) {
    font-size: 12px;
  }
}

.h2 {
  font-size: var(--font-l);
  font-weight: var(--regular-font-weight);
  color: var(--main-medium-color);
  margin-bottom: 8rem;
  margin-top: 0;

  @include bp($bp-tablet) {
    font-size: var(--font-m);
    padding: 0 4rem;
  }

  @include bp($bp-mobile) {
    font-size: var(--font-s);
    padding: 0 2rem;
    margin-bottom: 4rem;
  }
}

.h3 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Helvetica";
  color: var(--main-light-color);
  margin: 2rem 0;

  @include bp($bp-mobile) {
    font-size: var(--font-xxs);
  }
}

/* .intro__container {
  display: flex;

  &__left {
    display: flex;
    width: 50%;
  }

  &__right {
    display: flex;
    width: 50%;

    &__paragraph {
      font-size: var(--font-xs);
      line-height: 41px;
      color: var(--main-medium-color);
      font-weight: var(--regular-font-weight);
      margin: 0;
    }
  }
} */

.h4 {
  font-size: var(--font-xs);
  font-weight: var(--regular-font-weight);
  font-family: Helvetica;
  margin: 0;
}

.paragraph {
  font-size: var(--font-xxs);
  font-weight: var(--regular-font-weight);
  font-family: Helvetica;
}

.center {
  align-items: center;
}

//declaracion de variables, unidades de padding y tamaños de fuentes

//si algo de css tiene algo que ver con un componente no tiene que ir en la carpeta de global sino donde el componente

//la carpeta scss solo cosas genericas

//menu es un componente menu que tendrá unos estilos que estarán en menu.scss

//cosas globales como body, h1, h3 eso si va en global
