@import "../../scss/global.scss";

.accordion {
  @include bp($bp-tablet) {
    padding: 0 4rem;
  }

  @include bp($bp-mobile) {
    padding: 0 2rem;
  }
}

.item {
  color: var(--main-light-color);
  border-top: solid 1px var(--main-light-color);
  border-bottom: solid 1px var(--main-light-color);
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  font-size: 36px;
  font-weight: 400;
  font-family: "Helvetica", "Montserrat", "Arial", sans-serif;
  max-height: 0;
  overflow: hidden;
}

.content.show {
  font-size: 36px;
  font-weight: 400;
  font-family: "Helvetica", "Montserrat", "Arial", sans-serif;
  height: auto;
  padding-bottom: 32px;
  max-height: 9999px;

  @include bp($bp-tablet) {
    font-size: var(--font-xxs);
  }

  @include bp($bp-mobile) {
    font-size: 16px;
  }
}
